/* Linear Gradient */
.a{
    width: 800px;
    height: 250px;
    margin: 50px auto;
    border: 1px solid red;
    background: linear-gradient(to top, red, green, blue);
}

/* Radial Gradient */
.b{
    width: 400px;
    height: 400px;
    margin: 50px auto;
    border: 1px solid red;
    background: radial-gradient(circle, red 5%, green, blue);
}

/* Conic Gradient */
.c{
    width: 400px;
    height: 400px;
    margin: 50px auto;
    border: 1px solid red;
    border-radius: 50%;
    background: conic-gradient(red 0deg, red 90deg, green 90deg, green 180deg, blue 180deg, blue 270deg, yellow 270deg);
}

/* Liniear gradient with Image */
.d{
    width: 800px;
    height: 400px;
    margin: 50px auto;
    border: 1px solid red;
    background: linear-gradient(rgba(0,0,0,.5), rgba(255,0,0,.5)), url(../images/5.jpg) no-repeat;
    background-size: cover;
}

.d h1{
    color: #fff;
    font-size: 60px;
    text-align: center;
    padding-top: 120px;
}